<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>模拟后台管理系统 By AngularJs</title>
<script src="js/angular.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
<style type="text/css">
input[text]{border:3px solid blue}
input:disabled{
border:none;
background-color:white;
color:black;
font:bold 16px/1.5 "微软雅黑";
}
</style>
</head>
<body ng-app='myapp' ng-controller="root">
	<div class="container">
		<h1 class="text-center">模拟后台管理系统 By Angular</h1>



<!--------------------------------查询功能区域------------------------------>		
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="input-group" ng-controller="serch">
	
				<h4>Step1.分类查询</h4>
				<form class="form-group">
					<select name="select" class="form-control" ng-model="selectValue" ng-change="selectedChange(selectValue)">
						<option selected="" value="{{info.value}}" ng-repeat="info in infos" ng-init="{info:''}">{{info.name}}</option>
						<option value="" selected hidden></option>
					</select>
					<h4>Step2.具体查询</h4>
					<input type="text" name="" id="inputInfo" placeholder="请选择分类" ng-model="inputMessage" ng-init="input=''" />
					<button class="btn btn-danger" ng-click="jiansuo()"><i class="glyphicon glyphicon-search" >检索</i></button>
				</form>
				<!--查询结果-->
				<h4>查询结果：</h4>
				<span id="sp" ng-module="result" ng-style="{border:'1px solid #ccc',padding:'8px'}">未选择/未输入!</span><br />
	
			</div>
		</div>

		<div class="col-lg-9 col-md-9" style="height: 200px;">
			<div class="col-lg-3 col-md-3" style="height: 100%;background: deepskyblue;border-radius: 100%;">
				<h4 class="center-block text-center">姓名统计</h4>
	
			</div>
	
			<div class="col-lg-3 col-md-3" style="height: 100%;background: orange;border-radius: 100%;">
				<h4 class="center-block text-center">年龄统计</h4>
	
			</div>
	
			<div class="col-lg-3 col-md-3" style="height: 100%;background: orangered;border-radius: 100%;">
				<h4 class="center-block text-center">职业统计</h4>
			</div>
	
		</div>
</div>
		
		
		
		
		
		
		
		
<!---------------------主要内容区域---------------------------------------------->		
		<div class="row">
				<h2><i class="glyphicon glyphicon-user btn btn-primary" ng-controller="add" ng-click="addUser()">增加用户</i></h2>
			<table class="table">
			
				<thead>
				
					<tr>
						<td></td>
						<td>序号</td>
						<td>name</td>
						<td>age</td>
						<td>job</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='user in users' ng-controller="edit">
						<td><i class="btn btn-success glyphicon glyphicon-pencil" ng-click="toggle()">编辑</i></td>
						<td>{{$index+1}}</td>
						<td><input type="text" value="{{user.name}}" ng-disabled="bool"/></td>
						<td><input type="text" value="{{user.age}}" ng-disabled="bool" /></td>
						<td><input type="text" value="{{user.job}}" ng-disabled="bool" /></td>
						
						<td title="警告"  data-toggle="popover" data-placement="bottom" data-content="请至少保留一个用户"  ng-controller="remove" ng-click="removeUser($index)" ng-hide="bool"><i class="glyphicon glyphicon-folder-close btn btn-danger">删除</i></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
		
		
	</div>
	
	
	
	
<script>
$(function () { 
$("[data-toggle='popover']").popover(function(){
	this.show(1000).hide(1000);
});
});
</script>
	
	
	
	

	
	
	
	
	
	
	<script type="text/javascript">
		var app = angular.module('myapp',[]);
		
		
		/**********根控制器  FOR  挂载数据*****/
		app.controller('root',function($scope){
			$scope.users = [
		 		{name:'LiMing',age:23,job:'fontAnggener'},
		 		{name:'Hanmeimei',age:22,job:'teacher'},
		 		{name:'Wangjie',age:25,job:'driver'},
		 		{name:'Liusir',age:27,job:'business'},
		 		{name:'guojingming',age:29,job:'editor'},
		 		{name:'Yaoming',age:33,job:'player'}
 		
 		    ]
		})
		
		
		
		/***************查询检索 控制器 ************/
		.controller('serch',function($scope){
 	
	 		$scope.infos = [
	 		{name:'姓名',value:0},
	 		{name:'年龄',value:1},
	 		{name:'职业',value:2}
	 		];

	 		$scope.selectedChange = function (v) {
	 	        return v;
	       }
	 		$scope.jiansuo = function(){
	 			var a = $scope.selectValue;
	 			$scope.result = a;
	 			
	 		    if(a==""||null||undefined){
	 		    	document.getElementById('sp').innerHTML="未选择/未输入!";
	 		    	document.getElementById('inputInfo').setAttribute('placeholder','请先选择分类')
	 		    }
	 		    else{
	 		    	document.getElementById('sp').innerHTML="您要查询的"+$scope.infos[a].name+"是:"+$scope.input;
	 		    	document.getElementById('inputInfo').setAttribute('placeholder','请输入具体的'+$scope.infos[a].name+"！");
	 		    }
	 		};
 		
 		/***查询结果***/
	 		$scope.result=function(){
				var a = $scope.selectValue;  //Step1的选择
				var inputMessage = $scope.inputMessage;//Step2的输入
				
				
	 		}
        
 	})
		
		
		
		
		
		
		/***************增加用户 控制器 ************/
		.controller('add',function($scope){
			
		  $scope.addUser=function(){
		  	
		  	$scope.users.push({name:'请输入姓名',age:'请输入年龄',job:'请输入职业'});
		  };
			
		})
		
		/***********信息删除控制器*******/
		.controller('remove',function($scope){
				
					$scope.removeUser=function(i){
						
						if($scope.users.length<=1){
							
						}
						else{
						$scope.users.splice(i,1);
						}
					
				}
		})
		
		/***********信息修改 控制器*******/
		.controller('edit',function($scope){
			$scope.bool=true;
			$scope.toggle=function(){
				$scope.bool=!$scope.bool;
				this.removeClass('glyphicon-pencil').addClass('glyphicon-ok');
			}
		})
		
		
	</script>
</body>
</html>

<!--
	<body ng-app="myapp" ng-controller="root">
		<div class="container">
			<h1 class="center-block">后台管理系统</h1>
			<div class="row" ng-controller="query">
				<div class="col-lg-3 col-md-3">
						此处存放查询模块
				</div>
				<div class="col-lg-9 col-md-9" ng-controller="pic">
						此处存放视图界面
				</div>
				
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<td></td>
							<td>姓名</td>
							<td>年龄</td>
							<td>职业</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
							<td><i class="btn btn-success glyphicon glyphicon-pencil">编辑</i></td>
							<td><input type="text" value="{{user.name}}"/></td>
							<td><input type="text" value="{{user.age}}"/></td>
							<td><input type="text" value="{{user.job}}"></td>
							<td><i class="btn btn-success glyphicon glyphicon-folder-close">删除</i></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		
		<script type="text/javascript">
			var app = angular.module('myapp',[]);
			
			
			
			/****************根控制器，挂载数据*******/
			app.controller('root',function($scope){
			$scope.users = [
		 		{name:'LiMing',age:23,job:'fontAnggener'},
		 		{name:'Hanmeimei',age:22,job:'teacher'},
		 		{name:'Wangjie',age:25,job:'driver'},
		 		{name:'Liusir',age:27,job:'business'},
		 		{name:'guojingming',age:29,job:'editor'},
		 		{name:'Yaoming',age:33,job:'player'}
		 		
		 		];
			});
			
			
		
			
			
			
		</script>
</body>

-->
